{
  "tailwindAttributes": [
    "class",
    "className",
    "cnObj",
    "myClass",
    "customClass"
  ],
  "tailwindFunctions": ["clsx", "tw", "cva"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
